<!doctype html>

<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/minstyle.io.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <!--<link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="PPSSPP RSS Feed">
    <link rel="alternate" type="application/atom+xml" href="/blog/atom.xml" title="PPSSPP Atom Feed">
    <script src="/static/script/squirrelly.min.js" defer></script>
    -->
    <script src="https://unpkg.com/squirrelly" defer></script>
    <script src="/static/script/account.js" defer></script>
    {{ #unless noAds }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3281131109267988"
        crossorigin="anonymous"></script>
    {{ /unless }}
    <script>
        // Special behaviors. There's probably a better way.
        var g_loginByKey = false;
        var g_thankYouPage = false;
    </script>
    {{ #if fastspring }}
    <script src="/static/script/fastspring.js" defer></script>
    <script id="fsc-api" src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.7.4/fastspring-builder.min.js"
        type="text/javascript" {{ #if prod }} data-storefront="ppsspp.onfastspring.com/popup-gold" {{ else }}
        data-storefront="ppsspp.test.onfastspring.com/popup-gold" {{ /if }} data-popup-closed="onFSPopupClosed"
        data-debug=true>
        </script>
    {{ /if }}
</head>

<title>{{ title }}</title>
</head>

<body>
    <div class="ms-menu">
        <div class="container">
            <div class="ms-menu-logo">
                <a href="/"><img src="/static/img/platform/ppsspp-icon.png" /></a>
            </div>
            <nav class="ms-menu-link">
                <input type="checkbox" id="ms-menu-toggle" />
                <label for="ms-menu-toggle" class="ms-menu-icon"><i class="fa fa-bars"></i></label>
                <ul>
                    <li><a href="/downloads">Downloads</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/docs/intro">Docs &amp; Help</a></li>
                    <li><a href="/media">Media</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="https://forums.ppsspp.org/">Forums {{> link_icon }}</a></li>
                    <li><a href="https://github.com/hrydgard/ppsspp">Github {{> link_icon }}</a></li>
                    <li class="not-logged-in-only-inline"><a href="/login">Login</a></li>
                    <li class="logged-in-only-inline" id="loginCorner"><a href="/login">Name</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/dark-mode-switcher@0.0.1/dist/dark.min.js"></script>
    <script type="text/javascript" src="https://kit.fontawesome.com/d35975edad.js"></script>