<div>
    <div>
        <h3>Docs</h3>
        <p><a href="/docs/intro">Docs &amp; Help</a></p>
        <p><a href="/docs/category/getting-started">Getting started</a></p>
    </div>
    <div>
        <h3>Community</h3>
        <p><a href="https://discord.gg/5NJB6dD">Discord</a></p>
        <p><a href="https://twitter.com/ppsspp_emu">Twitter</a></p>
    </div>
    <div>
        <h3>More</h3>
        <p><a href="https://github.com/hrydgard/ppsspp">GitHub</a></p>
        <p><a href="https://github.com/hrydgard/ppsspp-site">Website Github</a></p>
        <p><a href="/login">Login</a></p>
    </div>
    <div>
        Copyright © {{ current_year }} PPSSPP Project. <a href="/privacy">Privacy Policy</a>
    </div>
</div>

</body>

</html>