</section>

<footer>
    <div class="container">
        {{ #unless prod }}
        <p>DEVELOPMENT MODE</p>
        {{ /unless }}
        <div class="row">
            <div class="col-4">
                <h2>Documentation</h2>
                <ul class="clean-list">
                    <li><a href="/docs/intro">Docs &amp; Help</a></li>
                    <li><a href="/docs/category/getting-started">Getting
                            started</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h2>Community</h2>
                <ul class="clean-list">
                    <li><a href="https://discord.gg/5NJB6dD">Discord</a>
                    </li>
                    <li><a href="https://twitter.com/ppsspp_emu">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h2>More</h2>
                <ul class="clean-list">
                    <li><a href="https://github.com/hrydgard/ppsspp">GitHub</a></li>
                    <li><a href="https://github.com/hrydgard/ppsspp-site">Website Github</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
        <div class="center-text footer-bottom-text">
            Copyright © {{ year }} PPSSPP Project. <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>
</div>

</body>

</html>