<!doctype html>
<html>

<head>
    <meta name="generator" content="ppsspp-site-gen">
    <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="PPSSPP RSS Feed">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{{ title }}</title>
</head>

<body>
    <div>
        <div><a href="/downloads">Downloads</a></div>
        <div><a href="/news">News</a></div>
        <div><a href="/blog">Blog</a></div>
        <div><a href="/docs/intro">Docs &amp; Help</a></div>
        <div><a href="/media">Media</a></div>
        <div><a href="/contact">Contact</a></div>
        <div><a href="https://forums.ppsspp.org/">Forums</a></div>
        <div><a href="https://github.com/hrydgard/ppsspp">Github</a></div>
    </div>