{{> common_header this }}

<div class="sidenav">

    {{{ sidebar }}}

</div>

<div class="main">

    {{{ breadcrumbs }}}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{{ contents }}}
            </div>
        </div>
    </div>
</div>

{{> common_footer this }}