<div class="col">
    <div class="card">
        <div class="card__header">
            <h3>{{ title }}</h3>
            <p>{{ description }}<br /><span>{{ price }}</span></p>
        </div>
        <div class="card__body">
            <button class="button button--primary margin-bottom--md" onClick="buyProduct()">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <img src="/static/img/platform/ppsspp-icon-gold.png" width="48px" />
                    <span style="paddingLeft: 10px">Buy PPSSPP Gold</span>
                </div>
            </button>
        </div>
    </div>
</div>