/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.slideshow-container .mySlides {
    display: none;
}

/* Next & previous buttons */
.slideshow-container .prev,
.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container .prev:hover,
.slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-container .text {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.slideshow-container .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.slideshow-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.slideshow-dot:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}

.slideshow-dot.active {
    background-color: #717171;
    margin-bottom: 2px;
}

/* Fading animation */
.slideshow-container .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}