.top-nav-logo {
    font-weight: bold;
}

.top-nav {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-header-footer);
    color: var(--color-text);
    height: 60px;
    padding: 1em;
    border-style: none none solid;
    border-color: var(--color-primary);
    border-width: 0 0 3px;
    font-size: 12pt;
}

.top-nav a {
    color: var(--color-gray-0);
}

.top-nav a:hover {
    color: var(--color-a-hover);
}

.top-nav img {
    margin-right: 1ch;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 0.45rem;
    overflow: hidden;
    padding-bottom: 0px;
    font-size: 12pt;
}

.menu>li .selected {
    border-bottom: 3px solid var(--color-primary);
}

.menu>li .switch-theme:hover {
    color: var(--color-primary);
    text-decoration: underline;
    cursor: pointer;
}

.menu>li .switch-theme:hover i.icon-ui {
    background-color: var(--color-a-hover);
}

.menu>li.external {
    /* Hide external list items */
    display: none;
}

@media (min-width: 850px) {
    .menu>li.external {
        display: flex;
    }
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    /* hackety hack */
    margin-left: -12px;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--color-gray-0);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    pointer-events: none;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#loginCorner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#loginCorner i.icon-ui {
    font-size: 24px;
}

@media (max-width: 699px) {
    /* Hide the login corner */
    #loginCorner {
        display: none;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        z-index: 289;
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: left;
        align-items: top;
    }

    .menu>li {
        display: none;
        text-align: left;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li a {
        display: block;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}