/* Top navigation bar container */
.top-nav-logo {
    font-weight: bold;
}

.top-nav-logo img {
    margin-left: 0;
    margin-right: 1ch;
}

.top-nav {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-header-footer);
    color: var(--color-text);
    height: 60px;
    padding: 1em;
    border-style: none none solid;
    border-color: var(--color-primary);
    border-width: 0 0 3px;
    font-size: 12pt;
}

.top-nav a {
    color: var(--color-gray-0);
}

.top-nav a:hover {
    color: var(--color-a-hover);
}

.top-nav button {
    color: var(--color-gray-0);
    background: transparent;
    border: none;
    cursor: pointer;
}

.top-nav button:hover {
    color: var(--color-a-hover);
    text-decoration: underline;
}

/* Menu items of top navigation bar */
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 0.45rem;
    overflow: hidden;
    padding-bottom: 0px;
    font-size: 12pt;
}

.menu>li .selected {
    border-bottom: 3px solid var(--color-primary);
}

.menu>li.external {
    /* Hide external list items */
    display: none;
}

@media (min-width: 850px) {
    /* Only show external list items if screen is wide */
    .menu>li.external {
        display: flex;
    }
}

/* Hamburger menu toggle button */
.menu-button {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    /* hackety hack */
    margin-left: -12px;
}

/* Draw the hamburger icon using CSS and pseudo-elements */
.menu-icon,
.menu-icon::before,
.menu-icon::after {
    display: block;
    background-color: var(--color-gray-0);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    pointer-events: none;
}

.menu-icon::before {
    content: '';
    margin-top: -8px;
}

.menu-icon::after {
    content: '';
    margin-top: 8px;
}

.menu-button:hover .menu-icon,
.menu-button:hover .menu-icon::before,
.menu-button:hover .menu-icon::after {
   background-color: var(--color-a-hover);
}

/* Login item of top navigation bar */
#loginCorner i.icon-ui {
    font-size: 24px;
}

/* Narrow screens */
@media (max-width: 699px) {
    /* Hide the login corner */
    #loginCorner {
        display: none;
    }

    /* Show the hamburger button */
    .menu-button {
        display: flex;
    }

    /* Hide the menu items */
    .menu {
        display: none;
    }
}