/* Special behaviour */
.logged-in-only {
    display: none;
}

.logged-in-only-inline {
    display: none;
}

.gold-only {
    display: none;
}

.gold-only-inline {
    display: none;
}

/* Links and buttons */
.button-block {
    display: block;
    width: 100%;
}

.download-button {
    display: block;
    background-color: var(--button-background-color);
    border: var(--button-border-width) solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    color: var(--button-color);
    cursor: pointer;
    font-size: calc(.875rem*var(--button-size-multiplier));
    font-weight: var(--button-font-weight);
    line-height: 1.5;
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    margin: 8px 0px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}

.download-button .button-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-contents img {
    margin-right: 1ch;
}

.mini-button {
    background-color: var(--button-background-color);
    border: var(--button-border-width) solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    color: var(--button-color);
    font-weight: var(--button-font-weight);
    padding: 4px;
    margin: 0 0.5ch;
    -webkit-user-select: none;
    user-select: none;
}

.download-button.button-gold,
.mini-button.button-gold {
    background-color: var(--gold-background-color);
    border-color: var(--gold-border-color);
    color: var(--gold-color);
}

.download-button:hover,
.mini-button:hover {
    color: var(--button-color);
    background-color: var(--button-background-color-hover);
    text-decoration: none;
}

.download-button.button-gold:hover,
.mini-button.button-gold:hover {
    background-color: var(--gold-background-color-hover);
    border-color: var(--gold-border-color-hover);
    color: var(--gold-color);
}

/* Alert / notification boxes */
.alert {
    display: block;
    box-shadow: 0 3px 5px var(--shadow-color);
    border-radius: var(--default-border-radius);
    border-left-style: solid;
    border-width: 5px;
    padding: 14px;
    margin: 12px 0px;
    background-color: #00000040;
    color: var(--alert-color);
}

.alert.alert-warning {
    background-color: var(--alert-warning-background-color);
    border-color: var(--alert-warning-border-color);
}

.alert.alert-error {
    background-color: var(--alert-error-background-color);
    border-color: var(--alert-error-border-color);
}

.alert.alert-success {
    background-color: var(--alert-success-background-color);
    border-color: var(--alert-success-border-color);
}

.alert.alert-info {
    background-color: var(--alert-info-background-color);
    border-color: var(--alert-info-border-color);
}

.alert.alert-gold {
    background-color: var(--gold-background-color-hover);
    border-color: var(--gold-border-color);
    color: var(--gold-color);
}

.alert.alert-hidden {
    display: none;
}

.alert a {
    font-weight: var(--button-font-weight);
}

/* Collapsible button */
summary {
    cursor: pointer;
}

.collapsible {
    background-color: var(--button-background-color);
    color: var(--button-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    -webkit-user-select: none;
    user-select: none;
}

.collapsible:hover {
    background-color: var(--button-background-color-hover);
}

details[open] .collapsible {
    color: var(--button-color-active);
    background-color: var(--button-background-color-active);
}

/* Formatted table */
.nice-table {
    width: 100%;
    display: table;
    border-spacing: 0;
    margin-bottom: 1rem;
    background-color: var(--color-table-bg);
    padding: 0;
}

.nice-table thead {
    background-color: var(--color-table-bg);
    text-align: left;
}

.nice-table td,
.nice-table th {
    background-color: var(--color-table-bg);
    padding: 0.5rem 0.4rem;
    border-bottom: 3px solid var(--color-table-border);
}

.nice-table th {
    font-weight: bold;
    border-bottom: 4px solid var(--color-table-border);
}

/* Product cards */
.card {
    width: 100%;
    height: auto;
    margin: 0.2rem 0;
    padding: 0;
    background-color: var(--color-card-background);
    border-radius: var(--card-border-radius);
    padding: 1rem;
    box-shadow: 0 3px 5px var(--shadow-color);
}

.card .card-title {
    margin: 0;
    padding-bottom: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .card-title h2 {
    font-size: 16pt;
    margin: 2px 0px 0px 10px;
    padding: 0;
}

.card .card-title h2.no-icon {
    margin: 2px 0px 0px 0px;
    padding: 0;
}

.card .card-contents h3 {
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.card .card-contents {
    margin: 0;
    padding-bottom: 0;
}

.card .card-section {
    border-bottom: 2px solid var(--color-table-border);
    padding: 1rem;
}

/* Forms */
form input {
    width: 100%;
    margin: 3px 0px 13px 0px;
    height: 35px;
    border: solid 2px var(--default-border-color);
    background-color: var(--color-contents-background);
    color: var(--color-text);
}

form label {
    font-size: 12pt;
    font-weight: bold;
}

form textarea {
    width: 100%;
    border: solid 2px var(--default-border-color);
    background-color: var(--color-contents-background);
    color: var(--color-text);
}

form button {
    display: block;
    background-color: var(--button-background-color);
    border: var(--button-border-width) solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    color: var(--button-color);
    cursor: pointer;
    font-size: calc(.875rem*var(--button-size-multiplier));
    font-weight: var(--button-font-weight);
    line-height: 1.5;
    width: 100%;
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    margin: 8px 0px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
}

form button:hover {
    color: var(--button-color);
    background-color: var(--button-background-color-hover);
    text-decoration: none;
}

/* Misc stuff */
.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: var(--default-border-radius);
}

.forgot-password {
    margin-top: 20px;
}

code {
  /* These values work well for both inline code and blocks.
   Highlight script changes them for code blocks where necessary.
   */
  font-family: monospace;
  font-size: 95%;
  display: inline-block;
  border-radius: 6px;
  padding: .2em .4em;
  margin: 0;
  color: var(--color-text);
  background-color: var(--background-surface-color);
  word-break: break-word;
  text-align: left;
}

.inapp {
    display: inline-block;
    font-family: Roboto, DroidSans, sans-serif;
    font-size: 110%;
    font-weight: bold;
}