{{> common_header this title="Download" description="Download PPSSPP for Android, Windows, Mac, iOS"}}

<div class="container">
  <h1>Download PPSSPP</h1>
  <div class="row">

  </div>
</div>

<h2>Legacy builds and ports</h2>

<a href="/legacybuilds">Download legacy builds and the Switch port here</a>.

<h2>Download development builds</h2>

{{> common_footer this}}