{{> common_header this title="Download" description="Download PPSSPP for Android, Windows, Mac, iOS"}}

<div class="container">
    <h1>Download PPSSPP {{ globals.app_version }}</h1>

    <p>What's new in {{ globals.app_version }}? See the <a href="/news">news page</a>!</p>

    <!-- TODO: You've got GOLD banner here -->

    <div class="row">
        <!-- Loop over the platforms -->
        <div class="col-md-4">

        </div>
    </div>

    <p class="gold-only">You have Gold - get PPSSPP Gold for Android for free!</p>

</div>

<!--
<iframe seamless="true" src="https://buildbot.orphis.net/ppsspp/"
    style="border-width: 0px; background-color: transparent; padding: 0px; overflow: hidden; width: 100%; height: 2000px" />
-->

{{> common_footer this}}