{{> common_header this title="PPSSPP - PSP emulator for Android, Windows, Linux, macOS, iOS"}}

<br />

<div class="ms-hero hero">
    <div class="ms-hero-body">
        <h1 class="ms-hero-title">PPSSPP</h1>
        <p class="ms-hero-subtitle">A PSP emulator.</p>
        <a class="ms-btn ms-rounded" href="/downloads">Download</a><br />
        <a class="ms-btn ms-rounded" href="/buygold">Buy PPSSPP Gold</a>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-4">
            <h3>Play your PSP games in HD!</h3>
            <p>PPSSPP can run your PSP games on your PC or Android phone in full HD resolution or even higher.
                It can also upscale textures to make them sharper, and you can enable post-processing shaders
                to adjust color and brightness the way you like, and other effects.
            </p>
        </div>

        <div class="col-md-4">
            <h3>Enhance your experience!</h3>
            <ul>
                <li>Save and restore game state anywhere, anytime</li>
                <li>Play in HD resolutions and more</li>
                <li>Customize on-screen touch controls or use an external controller or keyboard</li>
                <li>Improve the graphics with anisotropic filtering and texture scaling</li>
                <li>Continue where you left off by transferring saves from your real PSP</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Free &amp; Open Source</h3>
            <p>PPSSPP is an open source project, licensed under the GPL 2.0 (or later).
                Anyone is welcome to contribute improvements to the code.
                Thanks to many such contributions, PPSSPP's compatibility is steadily increasing,
                letting us all play our PSP games on devices of our choice.
            </p>
            <p><a className="btn" to="/docs/category/development">Development &raquo;</a>
                <br></br>
                <a className="btn" to="https://github.com/hrydgard/ppsspp">GitHub &raquo;</a>
            </p>
        </div>

    </div>

</div>

{{> common_footer this}}