{{> common_header this title="Login" description="Login form"}}

<div class="container">
    <h1>Login</h1>

    <div class="not-logged-in-only">

        <p class="not-logged-in-only">No account? <a href="/buygold">Buy PPSSPP Gold</a>!</p>

        <form action="#" onSubmit="return handleLoginForm(event)">
            <div class="alert alert--warning hidden" id="error_message" role="alert"></div>
            <label>
                <div>E-mail address</div>
                <span><input type="text" size="38" id="email" /></span>
            </label>
            <label>
                <div>Password</div>
                <span><input type="password" size="38" id="password" /></span>
            </label>
            <div>
                <a href="/recoverpassword">Forgot your password?</a>
            </div>
            <div>
                <button className="button button--primary margin-top--md" type="submit">Login</button>
            </div>
        </form>

    </div>

    <div class="logged-in-only">
        <p id="loginInfo">Will be populated when logged in.</p>

        <button onclick="logoutUser()">Log out</button>
    </div>

</div>

{{> common_footer this}}