{{> common_header this title="Media" description="Screenshots and video"}}

<div>
  <h2>Screenshots</h2>

  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/10_i9cQdQA0" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/y3dgEeDW5Xw" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>

{{> common_footer this}}