{{> common_header this title="Recover your password" description="Recover your password for your PPSSPP Gold account"
noAds="true" }}

<div class="container logged-in-only">
    <h1>Recover your password</h1>
    <p>You're logged in already, you don't need this!</p>
    <p><a href="/downloads">Go to Downloads</a></p>
</div>

<div class="container not-logged-in-only">
    <form action="#" onSubmit="return handleRecoverPasswordForm(event)">
        <label>
            <div>E-mail address</div>
            <input type="text" id="email" />
        </label>
        <div>
            <button className="button button--primary margin-top--md" type="submit">Recover password</button>
        </div>
    </form>
    <div class="recoverPasswordStatus"></div>
</div>

{{> common_footer this }}