{{> common_header this title="PPSSPP Cross License"
description="Request PPSSPP Gold for Android, if you already have it on PC/Mac, here"}}

<div class="container">

    <h1>Request Google Play promo code</h1>

    <div class="gold-only">
        <p>Since you already have PPSSPP Gold for Windows and macOS, you are eligible to request one Google Play promo
            code, which can be redeemed for PPSSPP Gold for Android free on any Google Play account.</p>

        <p>IMPORTANT! Only request one if you are going to use it!</p>

        <p>Note: If you have requested a code before, you'll get the same one again, which might thus already be spent.
        </p>

        <p>If you forgot your password, type your e-mail address in the box below (make sure it's right!)</p>

        <p>
            <a href="https://support.google.com/googleplay/answer/3422659?hl=en">How to redeem Google Play promo
                codes</a>
        </p>
    </div>

    <div class="no-gold-only">
        <h1>PPSSPP Gold - Cross License</h1>
        <h3>Do you have PPSSPP Gold for Windows/macOS, but want it for Android?</h3>
        <p>If so, just <a href="/login?Forward=requestgold">login here</Link> and follow the instructions!</p>
        <h3>Do you have PPSSPP Gold for Android, but want it for Windows?</h3>
        <p>Then please send an e-mail to hrydgard+ppssppgold@gmail.com , attaching your Google Play receipt. I try to
            handle all requests within 72 hours, often faster.</p>
    </div>
</div>

{{> common_footer this }}