{{> common_header this title="Thank you!" }}

<div class="container">

    <h1>Thank you for buying PPSSPP Gold!</h1>

    <p>Check your e-mail for confirmation.</p>

</div>

{{> common_footer this }}