{{> common_header this title="Thank you!" noAds="true" }}

<div class="container">

    <h1>Thank you for buying PPSSPP Gold!</h1>

    <p>Check your e-mail for confirmation.</p>

</div>

<script>

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    console.log(urlParams);

</script>

{{> common_footer this }}