{{> common_header this title="Buildbot Status" description="Status page of the PPSSPP development buildbot"}}

<div class="container">
    <h1>PPSSPP Buildbot Status</h1>
    <p>This is the status page of the buildbot that produces builds for <a href="/devbuilds">PPSSPP Development
            Builds</a></p>
    <div id="buildbotStatus">
    </div>
</div>

<script>
    g_downloadPage = true;
</script>