{{> common_header this title="Download" description="Download PPSSPP for Android, Windows, Mac, iOS" fastspring="true"
noAds="true" }}

<div class="container">
    <h1>Buy PPSSPP Gold {{ globals.app_version }}</h1>

    <div class="gold-only">
        <h2>Gold already!</h2>
        <p class="magenta">You are already a Gold user, are you looking for <a href="/download">the
                downloads</a>?</p>
        <p>Of course, feel free to purchase again if you'd like to support PPSSPP even more.</a>
    </div>

    <h2 class="center-vertical">Buy PPSSPP Gold for Android &nbsp;<img src="/static/img/platform/android-36.png" /></h2>
    <p>
        <a href="https://play.google.com/store/apps/details?id=org.ppsspp.ppssppgold"
            class="download-button button-gold button-block">
            <img alt="PPSSPP Gold on Google Play"
                src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
            &nbsp;Click to get PPSSPP Gold from Google Play!
        </a>
    </p>

    <h2 class="center-vertical">Buy PPSSPP
        Gold for Windows/macOS &nbsp;<img src="/static/img/platform/windows-36-white.png" />&nbsp;<img
            src="/static/img/platform/apple-36.png" /></h2>

    <p></p>

    <p>Buy to support the project! Choose your level of contribution:</p>

    <div class="row">
        {{> product_card title="Hangaround" description="A show of support." productId="ppsspp-gold-l1" }}
        {{> product_card title="Supporter" description="This will help!" productId="ppsspp-gold-l2" }}
        {{> product_card title="Fan" description="A strong statement." productId="ppsspp-gold-l3" }}

        {{> product_card title="Gamer" description="A real contribution." productId="ppsspp-gold-l4" }}
        {{> product_card title="Powergamer" description="A love of emulation." productId="ppsspp-gold-l5" }}
        {{> product_card title="Grandmaster" description="You totally rock!" productId="ppsspp-gold-l6" }}
    </div>

    <h2>Purchase information</h2>
    <p><a href="/docs/reference/whygold">Why buy PPSSPP Gold?</a></p>

    <p><span class="label label-success">IMPORTANT!</span>&nbsp;The email address you use while paying will
        receive the download link, so make sure it's right. If you have not received an email within an hour,
        please contact <a href="mailto:henrik@millionthline.com">henrik@millionthline.com</a> and I'll have a
        look.</p>
    <p><span class="label label-warning">EU citizens</span>&nbsp;VAT is included so no need to worry about that.
    </p>
    <p>Please note that all price options get you the same thing: the permanent right to download PPSSPP
        Gold for Windows, a gold account on this site, and Gold downloads for more platforms in the
        future.</p>

    <p>PPSSPP Gold is currently available for Android, PC (Windows), and macOS.</p>
    <p>iOS support will be added when Apple relaxes its anti-emulator policies.</p>

</div>

{{> common_footer this}}