{{> common_header this title="Buy PPSSPP Gold" description="Buy PPSSPP Gold" fastspring="true" noAds="true" }}

<div class="container">

<h1>PPSSPP Gold for iOS</h1>

<h2>How to buy PPSSPP Gold for iOS</h2>

<p>Download the regular version here, if you don't already have it:</p>

<p><a href="https://apps.apple.com/us/app/ppsspp-psp-emulator/id6496972903"><img src="/static/img/icons/ios.svg" aria-hidden="true" class="icon-36">&nbsp;Download PPSSPP on the App Store</a></p>

<p>Then start it up and click the {{> buygold_inapp }} button in the app!</p>

<p>For other platforms, <a href="/buygold">see here</a>.</p>

<h2>Why buy PPSSPP Gold?</h2>

<p>PPSSPP Gold is the best way to support the development of PPSSPP, the leading PSP emulator for iOS and other platforms.</p>

<p>You get a nice golden icon, but otherwise it's the same as the regular version.</p>

<p>NOTE: Starting from 1.19, PPSSPP Gold for iOS is an in-app purchase in the regular PPSSPP app.</p>

<h2>Did you previously own the separate Gold app for iOS?</h2>

<p>Unfortunately there's currently no way to transfer your purchase. I'm working on finding a way.</p>

</div>

{{> common_footer this }}