{{> common_header this title="Buy PPSSPP Gold" description="Buy PPSSPP Gold" fastspring="true"
noAds="true" }}

<div class="container">
    <h1>Buy PPSSPP Gold {{ globals.app_version }}</h1>

    <p>A link to PPSSPP Gold for iOS will show up here as soon as the app has been approved for the App Store.</p>

    <p>If you want to buy PPSSPP Gold for other devices, <a href="/buygold">click here.</a></p>

</div>

{{> common_footer this}}