{{> common_header this title="Buy PPSSPP Gold" description="Buy PPSSPP Gold" fastspring="true"
noAds="true" }}

<div class="container">
    <h1>Buy PPSSPP Gold {{ globals.app_version }}</h1>

    <h2 class="center-vertical">Buy PPSSPP Gold for iOS &nbsp;<img src="/static/img/platform/ios.svg" width="36px"
            height="36px" alt="android logo"></h2>

    <a href="https://apps.apple.com/us/app/ppsspp-gold-psp-emulator/id6502287918"
        class="download-button button-gold button-block">
        <div class="button-contents">
            &nbsp;Click to get PPSSPP Gold from the iOS App Store!</div>
    </a>

</div>

{{> common_footer this}}