{{> common_header this title="Buy PPSSPP Gold" description="Buy PPSSPP Gold" fastspring="true"
noAds="true" }}

<div class="container">
    <h2 class="center-vertical">Buy PPSSPP Gold for iOS</h2>

    <p>From 1.19, PPSSPP Gold for iOS is an in-app purchase in the regular PPSSPP app, so just:</p>

    <p><a href="https://apps.apple.com/us/app/ppsspp-psp-emulator/id6496972903"><img src="/static/img/icons/ios.svg" class="icon-36" alt="ios icon">&nbsp;Download PPSSPP on the App Store</a></p>

    <p>Then start it up and click the "Buy PPSSPP Gold" button in the app!</p>

    <p>For other platforms, <a href="/buygold">see here</a>.</p>
</div>

{{> common_footer this}}