{{> common_header this title="Buy PPSSPP Gold" description="Buy PPSSPP Gold" fastspring="true" noAds="true" }}

<div class="container">
    <h1>Buy PPSSPP Gold {{ globals.app_version }}</h1>

    <div class="gold-only">
        <h2 class="center-vertical">Gold already!<img src="/static/img/platform/ppsspp-icon-gold.png" aria-hidden="true" class="icon-36"></h2>
        <div class="alert alert-warning">You are already a Gold user, are you looking for
            <a href="/download">the downloads</a>?</div>
        <p>Of course, feel free to purchase again if you'd like to support PPSSPP even more.</p>
    </div>

    <h2 class="center-vertical">Buy PPSSPP Gold for Android<img src="/static/img/icons/android.svg"
            aria-hidden="true" class="icon-36"></h2>
    <a href="https://play.google.com/store/apps/details?id=org.ppsspp.ppssppgold"
        class="download-button button-gold button-block">
        <div class="button-contents"><img src="/static/img/platform/googleplay-badge.svg"
                alt="Get it on Google Play" class="badge"/>Click to get PPSSPP Gold from Google Play!</div>
    </a>

    <h2 class="center-vertical">Buy PPSSPP Gold for iOS<img src="/static/img/icons/ios.svg"
            aria-hidden="true" class="icon-36"></h2>

    <p>Starting from 1.19, PPSSPP Gold for iOS is an in-app purchase in the regular PPSSPP app, so just
        <a href="https://apps.apple.com/us/app/ppsspp-psp-emulator/id6496972903">download that</a>
        and click the {{> buygold_inapp }} button!
    </p>

    <h2 class="center-vertical">Buy PPSSPP
        Gold for Windows/macOS<img src="/static/img/icons/windows.svg" aria-hidden="true" class="icon-36">
            <img src="/static/img/icons/macos.svg" aria-hidden="true" class="icon-36"/></h2>

    <p>Buy PPSSPP Gold to support the project! Choose your level of contribution:</p>

    <div class="alert alert-hidden" id="fastspring-error-alert"></div>

    <div class="row" id="product-cards">
        {{> product_card title="Hangaround" description="A show of support." productId="ppsspp-gold-l1" }}
        {{> product_card title="Supporter" description="This will help!" productId="ppsspp-gold-l2" }}
        {{> product_card title="Fan" description="A strong statement." productId="ppsspp-gold-l3" }}

        {{> product_card title="Gamer" description="A real contribution." productId="ppsspp-gold-l4" }}
        {{> product_card title="Powergamer" description="A love of emulation." productId="ppsspp-gold-l5" }}
        {{> product_card title="Grandmaster" description="You totally rock!" productId="ppsspp-gold-l6" }}
    </div>

    <h2>Purchase information</h2>

    <p><a href="/docs/reference/whygold">Why buy PPSSPP Gold?</a></p>

    <div class="alert alert-warning">IMPORTANT!&nbsp;The e-mail address you use while paying will receive the
        download link, so make sure it's right. If you have not received an e-mail within an hour, please
        contact <a href="mailto:henrik@millionthline.com">henrik@millionthline.com</a> and I'll have a look.</div>
    <div class="alert alert-info">EU citizens:&nbsp;VAT is included so no need to worry about that.</div>

    <p>Please note that all price options get you the same thing: the permanent right to download PPSSPP Gold for
        Windows and macOS, a gold account on this site, and Gold downloads for more platforms in the future.</p>

    <p>PPSSPP Gold is currently available for Android, Windows PC, macOS and iOS.</p>

</div>

{{> common_footer this }}