{{> common_header this title="Change password" description="Change your login password for ppsspp.org here" }}

<div class="container logged-in-only">
    <h1>Change password</h1>
    <form action="#" onSubmit="return handleChangePasswordForm(event)">
        <label class="not-login-key-only">
            <div>Previous password</div>
            <input type="password" id="old_password" />
        </label>
        <label>
            <div>New password</div>
            <input type="password" id="new_password" />
        </label>
        <div>
            <button className="button button--primary margin-top--md" type="submit">Change password</button>
        </div>
    </form>
    <div id="changePasswordStatus"></div>
</div>

<div class="container not-logged-in-only">
    <Layout title="Change password" description="Change password">
        <p>Not logged in - can't change password.</p>
        <p>
            <Link to="/login">Login</Link>
        </p>
    </Layout>
</div>

{{> common_footer this}}