{{> common_header this title="Contact" description="Contact email, Twitter accounts, Discord invite link, etc" }}

<div class="container">
    <div class="row">
        <div class="col-mb-6">
            <h1>Community, contact info, and links</h1>
            <h2>PPSSPP Forums</h2>
            <ul>
                <li>English and international: <a href="https://forums.ppsspp.org/">PPSSPP Forums</a></li>
                <li>Chinese: <a href="https://tieba.baidu.com/f?kw=ppsspp&fr=ala0">PPSSPP Tieba community</a></li>
            </ul>
            <h2>E-mail</h2>
            <p>*NOTE* Before e-mailing, please refer to the <a href="/docs/faq">FAQ</a>.</p>
            <p>Henrik, the project founder, can be reached on hrydgard+ppsspp@gmail.com.</p>

            <h2>Discord</h2>
            <p>The PPSSPP Discord is the easiest way to get in touch with other people in the community, and is also
                useful for quick bug reports and similar.</p>

            <iframe src="https://discordapp.com/widget?id=293316141479362560&theme=dark" width="350" height="500"
                allowtransparency="true" frameborder="0"></iframe>

            <h2>Web</h2>
            <p>Henrik's own company is <a href="https://www.millionthline.com">Millionth Line AB</a>.</p>
            <p>He used to work at <a href="https://www.embark-studios.com/"> until fairly recently</a>.</p>
            <p>Before that he worked at NVIDIA, and previously <a href="https://www.soundtrackyourbrand.com/">Soundtrack
                    Your
                    Brand</a>, and a long time before that Google Zürich.</p>

            <p>This website was previously built with <a href="https://docusaurus.io/">Docusaurus</a>, but it's now been
                replaced
                by a static site built by a fully-custom generator written in Rust.
                <a href="https://github.com/hrydgard/ppsspp-site/">Source code to generator and site</a>
            </p>

            <h2>X (formerly Twitter)</h2>
            <p>
                <a href="https://twitter.com/PPSSPP_emu">Follow @PPSSPP_emu</a>
            </p>
            <p>
                <a href="https://twitter.com/henrikrydgard">Follow @henrikrydgard</a>
            </p>
        </div>
    </div>
</div>

{{> common_footer this}}