{{> common_header this title="Development Builds" description="Download development builds of PPSSPP"}}

<div class="container">
    <h1>PPSSPP Development Builds</h1>
    <p>Please note that these development builds can be unstable - if one doesn't work, try an earlier one.
        And backup your save games!</p>
    <div class="alert alert-warning">
        The Android APKs here are not compatible with the builds from Orphis' build server (currently down) - meaning
        that you probably have to uninstall and reinstall to switch to these builds. Make sure you have
        backed up your save games.
    </div>
    <p>Development builds for more platforms will be added soon.</p>
    <p><a href="/buildbotstatus">Buildbot status</a></p>
    <div>
        <button onclick="loadAllBuilds()" id="showAllButton" className="button button--primary">Show all</button>
    </div>
    <div id="twentyBuilds"></div>
    <div>
        <button onclick="loadAllBuilds()" id="showAllButton2" className="button button--primary">Show all</button>
        <br />
    </div>
</div>

<script>
    g_downloadPage = true;
</script>

{{> common_footer this}}