{{> common_header this title="How to get games" description="How to get games"}}

<div class="container">

    <h1 style="padding-top: 10px">How to get games for PPSSPP</h1>

    <h3>What are they?</h3>

    <p>PSP games are games created for the Sony PlayStation Portable, or PSP for short.
        They are normally sold as either small plastic discs or as downloadable content on PSN.
        To use them with PPSSPP, we must turn them into files. An "ISO file" is a raw copy
        of a disc, which can be compressed into a "CSO", or compressed iso (or "CHD", an alternate format).
        For instructions on how to do this yourself, see the
        <a href="/docs/getting-started/dumping-games">instructions on dumping games</a>.
    </p>

    <p>PSP games that have been downloaded from PSN onto a real PSP can be copied off the PSP and played directly.
    </p>

    <h3>How do I get them on my device?</h3>

    <h4>Mac instructions</h4>

    <ol>
        <li>1. Connect your iOS device (iPhone or iPad) via USB to your Mac.</li>
        <li>2. On your Mac, open the device in Finder. Click the Files tab, then you should see PPSSPP and/or PPSSPP
            Gold listed.</li>
        <li>3. Drag your ISO files into the app. To see them, you may have to click the Refresh button in the app, if
            it's running.</li>
    </ol>

    <p>After this, the ISO files will be located on the virtual "memory stick". Just pick them from the Games tab (click
        Home if you can't find the files).</p>

    <p>That's it!</p>

</div>

{{> common_footer this}}