{{> common_header this title="Ports, legacy builds and other downloads"
description="Ports, legacy builds and other downloads"}}

<div class="container">
    <h1>Ports, legacy builds and other downloads</h1>

    <h2 class="center-vertical">PPSSPP for Switch (homebrew)&nbsp;<img src="/static/img/icons/switch.svg"
            alt="nintendo switch logo" class="icon-36"></h2>
    <p>Ported to the Nintendo Switch by m4xw! See <a href="https://www.patreon.com/m4xwdev">m4xw's Patreon</a>.</p>
    <p>You'll need a Switch enabled for homebrew to run this (and a 7z unpacker). You won't find an explanation about
        that here!</p>
    <p><a href="https://www.ppsspp.org/files/Switch/Release_PPSSPP_Standalone_11.09.2024.7z">Download PPSSPP 1.17.x for
        Switch</a> (Sept 9, 2024 - new!)</p>
    <p><a href="https://www.ppsspp.org/files/Switch/20200311_Release_PPSSPP_Standalone.7z">Download PPSSPP 1.9.3+ for
        Switch</a></p>
    <p><a href="https://www.ppsspp.org/files/1_9_0/ppsspp_switch.7z">Download PPSSPP 1.9 for Switch</a></p>

    <h2 class="center-vertical">Pandora&nbsp;<img src="/static/img/icons/pandora.svg"
            alt="pandora logo" class="icon-36"></h2>
    <p>This is a Pandora port of PPSSPP. You will have to figure out how to install it :) Thanks to ptitSeb.</p>
    <p><a href="http://repo.openpandora.org/?page=detail&app=ppsspp_ptitseb">OpenPandora repo</a></p>

    <h2 class="center-vertical">Cube test program&nbsp;<img src="/static/img/icons/cube.svg"
            alt="cube icon" class="icon-36"></h2>
    <p>A simple PSP program that draws a spinning cube. For testing that the emu works on your device before you dump
        your UMDs.</p>
    <p>For this testing, these days you can also just use the homebrew store. Anyway, here it is:</p>
    <p><a href="https://www.ppsspp.org/files/cube.elf">Download</a></p>

    <h2 class="center-vertical">BlackBerry 10&nbsp;<img src="/static/img/icons/blackberry.svg"
            alt="blackberry logo" class="icon-36"></h2>
    <p>This is a BlackBerry 10 port of PPSSPP. Sideload the .bar from your computer using Sachesi or Chrome extension.
        Thanks to xsacha for doing the build.</p>
    <p>Note! BlackBerry is no longer supported.</p>
    <p>PPSSPP 0.9.9 for Blackberry: <a href="https://www.ppsspp.org/files/0_9_9/PPSSPP-v0.9.9.bar">Download</a></p>

    <h2 class="center-vertical">Symbian&nbsp;<img src="/static/img/icons/symbian.svg"
            alt="symbian yellow heart icon" class="icon-36"></h2>
    <p>This is a Symbian port of PPSSPP. Thanks to xsacha for doing the build.</p>
    <p>Note! Symbian is no longer supported.</p>
    <p>PPSSPP 0.9.9 for Symbain: <a href="https://www.ppsspp.org/files/0_9_9/PPSSPP-v0.9.9.sis">Download</a></p>

    <h2 class="center-vertical">MeeGo / Harmattan&nbsp;<img src="/static/img/icons/meego.svg"
            alt="white letter m inside gray square" class="icon-36"></h2>
    <p>This is a MeeGo port of PPSSPP. Thanks to xsacha for doing the build.</p>
    <p>Note! MeeGo is no longer supported.</p>
    <p>PPSSPP 0.9.5 .deb for MeeGo: <a href="https://www.ppsspp.org/files/0_9_5/PPSSPP-v0.9.5.deb">Download</a></p>

</div>

{{> common_footer this}}