{{> common_header this title="Ports, legacy builds and other downloads"
description="Ports, legacy builds and other downloads"}}

<div class="container">
    <h1>Ports, legacy builds and other downloads</h1>

    <h2 class="center-vertical">PPSSPP for Switch (homebrew)&nbsp;<img src="/static/img/icons/switch.svg"
            alt="nintendo switch icon" class="icon-36"></h2>
    <p>Ported to the Nintendo Switch by m4xw! See <a href="https://www.patreon.com/m4xwdev">m4xw's Patreon</a>.</p>
    <p>You'll need a Switch enabled for homebrew to run this (and a 7z unpacker). You won't find an explanation about
        that here!</p>
    <p><a href="https://www.ppsspp.org/files/Switch/Release_PPSSPP_Standalone_11.09.2024.7z">Download PPSSPP 1.17.x for
        Switch</a> (Sept 9, 2024 - new!)</p>
    <p><a href="https://www.ppsspp.org/files/Switch/20200311_Release_PPSSPP_Standalone.7z">Download PPSSPP 1.9.3+ for
        Switch</a></p>
    <p><a href="https://www.ppsspp.org/files/1_9_0/ppsspp_switch.7z">Download PPSSPP 1.9 for Switch</a></p>

    <h2 class="center-vertical">Legacy Edition for Android&nbsp;<img src="/static/img/platform/ppsspp-icon-legacy.png"
            alt="PPSSPP Legacy Edition" class="icon-36"></h2>
    <p>The Legacy Edition for Android lets you use old permission rules on new devices, which can help Android TV
        devices without folder browsers.</p>
    <p><a href="/docs/reference/legacy-edition">PPSSPP Legacy Edition for Android</a>

    <h2 class="center-vertical">Cube test program&nbsp;<img src="/static/img/icons/cube.svg"
            alt="cube icon" class="icon-36"></h2>
    <p>A simple PSP program that draws a spinning cube. For testing that the emu works on your device before you dump
        your UMDs.</p>
    <p>For this testing, these days you can also just use the <a href="/docs/reference/homebrew-store-distribution">
        homebrew store</a>. Anyway, here it is:</p>
    <p><a href="https://www.ppsspp.org/files/cube.elf">Download cube.elf</a></p>

    <h2 class="center-vertical">Legacy platforms</h2>
    <p>In this section you will find builds for discontinued systems and devices.</p>
    <p>Note that these platforms are no longer supported!</p>

    <h3 class="center-vertical">Legacy Android&nbsp;<img src="/static/img/icons/androidlegacy.svg"
            alt="old android icon" class="icon-36"></h3>
    <p>The last release that works on <strong>x86-32</strong> architecture devices is v1.5.4 from May, 2023.</p>
    <p>PPSSPP 1.5.4 for Android: <a href="https://www.ppsspp.org/files/1_15_4/ppsspp.apk">Download APK</a></p>

    <p>The last release that works on <strong>ARMv6</strong> architecture (legacy armeabi) devices is v0.9.7.2 from February, 2014.</p>
    <p>PPSSPP 0.9.7.2 for Android: <a href="https://www.ppsspp.org/files/0_9_7_2/ppsspp.apk">Download APK</a></p>

    <h3 class="center-vertical">DragonBox Pyra&nbsp;<img src="/static/img/icons/pyra.svg"
            alt="dragonbox pyra icon" class="icon-36"></h3>
    <p>This is a DragonBox Pyra port of PPSSPP from January, 2021. Built by Wally.</p>
    <p><a href="https://pyra-handheld.com/repo/apps/31">DBP repository</a></p>

    <h3 class="center-vertical">Pandora&nbsp;<img src="/static/img/icons/pandora.svg"
            alt="pandora icon" class="icon-36"></h3>
    <p>This is a Pandora port of PPSSPP. The last release is Build 55 from October, 2020 and is based on version 1.10.3.
        You will have to figure out how to install it. :) Thanks to ptitSeb!</p>
    <p><a href="http://repo.openpandora.org/?page=detail&app=ppsspp_ptitseb">OpenPandora repo</a></p>

    <h3 class="center-vertical">Legacy Windows&nbsp;<img src="/static/img/icons/windowslegacy.svg"
            alt="old windows icon" class="icon-36"></h3>
    <p>The last release that works on <strong>Windows XP</strong> is 1.8 from March, 2019. Newer versions simply do not launch.</p>
    <p>PPSSPP 1.8 installer for Windows: <a href="https://www.ppsspp.org/files/1_8_0/PPSSPPSetup.exe">Download .exe</a></p>
    <p>PPSSPP 1.8 portable for Windows: <a href="https://www.ppsspp.org/files/1_8_0/ppsspp_win.zip">Download ZIP</a></p>

    <h3 class="center-vertical">BlackBerry 10&nbsp;<img src="/static/img/icons/blackberry.svg"
            alt="blackberry icon" class="icon-36"></h3>
    <p>This is a BlackBerry 10 port of PPSSPP. Sideload the <code>.bar</code> from your computer using Sachesi or Chrome
        extension. Thanks to xsacha for doing the build!</p>
    <p>PPSSPP 0.9.9 for BlackBerry 10: <a href="https://www.ppsspp.org/files/0_9_9/PPSSPP-v0.9.9.bar">Download .bar</a></p>

    <h3 class="center-vertical">Symbian&nbsp;<img src="/static/img/icons/symbian.svg"
            alt="symbian yellow heart icon" class="icon-36"></h3>
    <p>This is a Symbian port of PPSSPP. Thanks to xsacha for doing the build!</p>
    <p>PPSSPP 0.9.9 for Symbian: <a href="https://www.ppsspp.org/files/0_9_9/PPSSPP-v0.9.9.sis">Download .sis</a></p>

    <h3 class="center-vertical">MeeGo / Harmattan&nbsp;<img src="/static/img/icons/meego.svg"
            alt="meego dot com icon" class="icon-36"></h3>
    <p>This is a MeeGo "Harmattan" port of PPSSPP for Nokia N9. Thanks to xsacha for doing the build!</p>
    <p>PPSSPP 0.9.5 for MeeGo: <a href="https://www.ppsspp.org/files/0_9_5/PPSSPP-v0.9.5.deb">Download .deb</a></p>

    <h3 class="center-vertical">Maemo 5 / Fremantle&nbsp;<img src="/static/img/icons/maemo.svg"
            alt="maemo icon" class="icon-36"></h3>
    <p>Support for a Maemo 5 port for Nokia N900 was added by aapo in March, 2013. Unfortunately no builds remain.</p>

    <h3 class="center-vertical">Windows Phone 7&nbsp;<img src="/static/img/icons/windowsphone.svg"
            alt="windows phone icon" class="icon-36"></h3>
    <p>Once upon a time, long long ago, I ported PPSSPP to Windows Phone. Unfortunately I never got it to run well enough
        to be worth releasing, since JIT is fundamentally broken on Windows Phone (due to the lack of an API to invalidate the
        instruction cache), and the graphics driver was barely functional, causing many glitches.
    </p>

</div>

{{> common_footer this}}