{{> common_header this title="Login" description="Login form"}}

<!-- This takes care of /loginbykey duties too. That's a redirect. -->

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-title">
                    <h2 class="no-icon">Login</h2>
                </div>

                <p class="not-logged-in-only">
                    No account? <a href="/buygold">Buy PPSSPP Gold</a>!<br />
                    Note that accounts are only for accessing PPSSPP Gold for PC/Mac.
                </p>

                <form action="#" onSubmit="return handleLoginForm(event)">
                    <div class="alert alert-success" style="display: none;" id="error_message" role="alert"></div>
                    <label>
                        <div>E-mail address</div>
                        <span><input type="text" size="38" id="email" /></span>
                    </label>
                    <label>
                        <div>Password</div>
                        <span><input type="password" size="38" id="password" /></span>
                    </label>
                    <div>
                        <a href="/recoverpassword">Forgot your password?</a>
                    </div>
                    <div>
                        <button class="button" type="submit">Login</button>
                    </div>
                </form>

                <div id="loginStatus" class="alert alert-hidden"></div>

            </div>
        </div>

        <div class="col-4 card logged-in-only">
            <h1>Account</h1>

            <p id="loginInfo">Will be populated when logged in.</p>

            <button onclick="logoutUser()">Log out</button>
        </div>
    </div>
</div>

<script>
    // Allow login by keys on this page only. There might be a better way to accomplish this.
    g_loginByKey = true;
</script>

{{> common_footer this}}