{{> common_header this title="404: Page not found" description="404: Page not found"}}

<div class="container">
    <h1>Page not found</h1>
    <div>We couldn't find a page at the link you followed. It's possible it was moved, in which case is should
        be easy to find what you're looking for. Here are some convenient links to the sections of the
        site to get started:</div>
    <h2>Links</h2>
    <ul>
        <li><a href="/download">Downloads</a></li>
        <li><a href="/docs">Documentation &amp; Help</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/news">News</a></li>
    </ul>
</div>

{{> common_footer this}}