{{> common_header this title="Recover your password" description="Recover your password for your PPSSPP Gold account"
noAds="true" }}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-title">
                    <h2 class="no-icon">Recover your password</h2>
                </div>

                <div class="container logged-in-only">
                    <p>You're logged in already, you probably don't need to recover your password!</p>
                    <p><a href="/download">Go to Downloads</a></p>
                </div>

                <div class="container not-logged-in-only">
                    <form action="#" onSubmit="return handleRecoverPasswordForm(event)">
                        <label>
                            <div>E-mail address</div>
                            <input type="text" id="email" />
                        </label>
                        <div>
                            <button className="button button--primary margin-top--md" type="submit">Recover
                                password</button>
                        </div>
                    </form>
                    <div id="recoverPasswordStatus"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> common_footer this }}