{{> common_header this title="Thank you!" noAds="true" }}

<div class="container">

    <h1>Thank you for buying PPSSPP Gold!</h1>
    <p>Check your e-mail for confirmation.</p>

    <!-- The rest of the text is in account.js -->

    <div id="purchaseStatus"></div>
    <div id="purchaseInfo"></div>

</div>

<script>
    g_thankYouPage = true;
</script>

{{> common_footer this }}